<div class="container mt-3">
  <h1 class="text-center">Election Results</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Candidate</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody id="candidates">
      <% @results.each do |candidate_data, votes| %>
        <tr>
          <td><%= candidate_data[1] %></td>
          <td id="<%= candidate_data[0] %>"><%= votes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
